*.rar
.idea/workspace.xml
.idea/Fitness-Is-A-Lifestyle.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/Fitness Is A Lifestyle\! \[DEV\].iml
workshop.txt
Contents/mods/Fitness Is A Lifestyle\!/mod.info
